<div class="col d-none graph-cards boxes-participants-related" id="box-participants-cards">
    <div class="card card-body">
        <div class=" d-flex flex-column">
            <div class="card align-self-center w-75" id="card-raw">
                <div class="card-header">
                Ondas RAW 
                </div>
                <div class="card-body">
                    <div class="d-none d-flex justify-content-center error-participants">
                        <p class="text-danger">Ha ocurrido un error al obtener los datos.</p>
                    </div>

                    <div class="d-flex justify-content-center d-none box-participants-spinner-wrapper" id="loading-raw">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="chart-wrapper chart-box-participants-wrapper d-none" id="raw-box-participants-chart"></div>
                </div>
            </div>
            <div class="card align-self-center w-75" id="card-delta">
                <div class="card-header">
                Ondas Delta
                </div>
                <div class="card-body">
                    <div class="d-none d-flex justify-content-center error-participants">
                        <p class="text-danger">Ha ocurrido un error al obtener los datos.</p>
                    </div>

                    <div class="d-flex justify-content-center d-none box-participants-spinner-wrapper" id="loading-delta">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="chart-wrapper chart-box-participants-wrapper d-none" id="delta-box-participants-chart"></div>
                </div>
            </div>
            <div class="card align-self-center w-75" id="card-theta">
                <div class="card-header">
                Ondas Theta
                </div>
                <div class="card-body">
                    <div class="d-none d-flex justify-content-center error-participants">
                        <p class="text-danger">Ha ocurrido un error al obtener los datos.</p>
                    </div>
                    
                    <div class="d-flex justify-content-center d-none box-participants-spinner-wrapper" id="loading-theta">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="chart-wrapper chart-box-participants-wrapper d-none" id="theta-box-participants-chart"></div>
                </div>
            </div>
            <div class="card align-self-center w-75" id="card-alpha">
                <div class="card-header">
                Ondas Alpha
                </div>
                <div class="card-body">
                    <div class="d-none d-flex justify-content-center error-participants">
                        <p class="text-danger">Ha ocurrido un error al obtener los datos.</p>
                    </div>

                    <div class="d-flex justify-content-center d-none box-participants-spinner-wrapper" id="loading-alpha">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="chart-wrapper chart-box-participants-wrapper d-none" id="alpha-box-participants-chart"></div>
                </div>
            </div>
            <div class="card align-self-center w-75" id="card-beta">
                <div class="card-header">
                Ondas Beta
                </div>
                <div class="card-body">
                    <div class="d-none d-flex justify-content-center error-participants">
                        <p class="text-danger">Ha ocurrido un error al obtener los datos.</p>
                    </div>

                    <div class="d-flex justify-content-center d-none box-participants-spinner-wrapper" id="loading-beta">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="chart-wrapper chart-box-participants-wrapper d-none" id="beta-box-participants-chart"></div>
                </div>
            </div>
            <div class="card align-self-center w-75" id="card-gamma">
                <div class="card-header">
                Ondas Gamma
                </div>
                <div class="card-body">

                    <div class="d-none d-flex justify-content-center error-participants">
                        <p class="text-danger">Ha ocurrido un error al obtener los datos.</p>
                    </div>

                    <div class="d-flex justify-content-center d-none box-participants-spinner-wrapper" id="loading-gamma">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="chart-wrapper chart-box-participants-wrapper d-none" id="gamma-box-participants-chart"></div>
                </div>
            </div>
        </div>
  </div>
</div>